*{
    margin: 80px
    
}
body {
    background-color:aqua 

}
h1 {
    font-family:Tahoma;
    color:red;
    
}
h2  {
    color: rgb(72, 112, 243);
}
img{
    width: 200;
    height: 180;
}